
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483015828594'); /* IE9*/
  src: url('iconfont.eot?t=1483015828594#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483015828594') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1483015828594') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483015828594#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e600"; }

.icon-shoucang:before { content: "\e619"; }

.icon-zhuanfa:before { content: "\e620"; }

.icon-yijianfankui:before { content: "\e672"; }

.icon-xiaoxi:before { content: "\e607"; }

.icon-shipin:before { content: "\e608"; }

.icon-my:before { content: "\e609"; }

.icon-iconbig05:before { content: "\e625"; }

.icon-zan:before { content: "\e645"; }

.icon-follow-r:before { content: "\e658"; }

.icon-guanzhu:before { content: "\e69a"; }

.icon-kefu:before { content: "\e61c"; }

.icon-shangchuan:before { content: "\e667"; }

.icon-huodong:before { content: "\e615"; }

.icon-jiahao:before { content: "\e67b"; }

.icon-shouye2-copy:before { content: "\e601"; }

.icon-pinglun:before { content: "\e660"; }

.icon-fensi:before { content: "\e669"; }

